<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Short Term Tab -->
  <ion-tab title="Short Term" icon-off="ion-battery-empty" icon-on="ion-battery-empty" href="#/tab/shortTerm">
    <ion-nav-view name="tab-shortTerm"></ion-nav-view>
  </ion-tab>

  <!-- Medium Term Tab -->
  <ion-tab title="Medium Term" icon-off="ion-battery-low" icon-on="ion-battery-low" href="#/tab/mediumTerm">
    <ion-nav-view name="tab-mediumTerm"></ion-nav-view>
  </ion-tab>

  <!-- Long Term Tab -->
  <ion-tab title="Long Term" icon-off="ion-battery-half" icon-on="ion-battery-half" href="#/tab/longTerm">
    <ion-nav-view name="tab-longTerm"></ion-nav-view>
  </ion-tab>


</ion-tabs>
